<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<system.web>
		<authentication mode="Forms"> <!-- Specify form authentication-->
			
			<forms name="auth" timeout="3000" loginUrl="~/Account/Login"/>
			<!-- specify the cookie set with a name to store the data.
				Specify how many minutes the data will be valid.
				We set the address in which the user will be redirected if he is not authorized.-->
		</authentication>
	</system.web>
	
</configuration>